/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /**
     * colors
     */
  
    --light-steel-blue: hsl(218, 33%, 77%);
    --royal-blue-light: hsl(225, 68%, 53%);
    --flickr-blue_30: hsla(225, 68%, 53%, 0.3);
    --carolina-blue: hsl(201, 92%, 47%);
    --oxford-blue-1: hsl(218, 70%, 18%);
    --oxford-blue-2: hsl(217, 100%, 12%);
    --oxford-blue-3: hsl(218, 71%, 11%);
    --gainsboro_50: hsla(0, 0%, 85%, 0.5);
    --lavender-web: hsl(225, 67%, 91%);
    --sonic-silver: hsl(0, 0%, 47%);
    --light-gray: hsl(0, 0%, 84%);
    --cultured: hsl(0, 0%, 97%);
    --black_10: hsla(0, 0%, 0%, 0.1);
    --black_8: hsla(0, 0%, 0%, 0.08);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --jet: hsl(0, 0%, 20%);
  
    /**
     * gradient color
     */
  
    --gradient: linear-gradient( 90deg, var(--carolina-blue) 0%, var(--royal-blue-light) 100%);
  
    /**
     * typography
     */
  
    --ff-roboto: "Roboto", sans-serif;
    --ff-poppins: "Poppins", sans-serif;
  
    --fs-1: 4rem;
    --fs-2: 3.6rem;
    --fs-3: 3.2rem;
    --fs-4: 2.4rem;
    --fs-5: 2.2rem;
    --fs-6: 1.8rem;
    --fs-7: 1.6rem;
  
    --fw-800: 800;
    --fw-700: 700;
    --fw-600: 600;
    --fw-500: 500;
  
    /**
     * spacing
     */
  
    --section-padding: 120px;
  
    /**
     * shadow
     */
  
    --shadow-1: 4px 4px 15px var(--black_10);
    --shadow-2: 0 10px 15px var(--black_10);
    --shadow-3: 0px 20px 60px var(--black_8);
    --shadow-4: 0px 10px 30px var(--flickr-blue_30);
    --shadow-5: 0px 2px 60px 0px var(--black_10);
  
    /**
     * border radius
     */
  
    --radius-6: 6px;
    --radius-4: 4px;
  
    /**
     * transition
     */
  
    --transition: 0.25s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
  
  }
  
  
  
  
  
  /*-----------------------------------*\
    #RESET
  \*-----------------------------------*/
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li { list-style: none; }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a,
  img,
  span,
  input,
  button,
  ion-icon { display: block; }
  
  img { height: auto; }
  
  input,
  button {
    background: none;
    border: none;
    font: inherit;
  }
  
  input { width: 100%; }
  
  button { cursor: pointer; }
  
  ion-icon { pointer-events: none; }
  
  address { font-style: normal; }
  
  html {
    font-family: var(--ff-roboto);
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--white);
    color: var(--sonic-silver);
    font-size: 1.5rem;
  }
  
  
  
  
  
  /*-----------------------------------*\
    #REUSED STYLE
  \*-----------------------------------*/
  
  .container { padding-inline: 25px; }
  
  .section { padding-block: var(--section-padding); }
  
  .section-subtitle {
    color: var(--royal-blue-light);
    font-family: var(--ff-poppins);
    font-size: var(--fs-6);
    font-weight: var(--fw-700);
    text-transform: uppercase;
    margin-block-end: 10px;
  }
  
  .h1,
  .h2,
  .h3 {
    font-family: var(--ff-poppins);
    line-height: 1.2;
  }
  
  .h1 {
    color: var(--oxford-blue-1);
    font-size: var(--fs-2);
  }
  
  .h2,
  .h3 { color: var(--oxford-blue-2); }
  
  .h2 { font-size: var(--fs-1); }
  
  .h3 { font-size: var(--fs-5); }
  
  .btn {
    background-image: linear-gradient( var(--deg, 90deg), var(--carolina-blue) 0%, var(--royal-blue-light) 100%);
    color: var(--white);
    font-size: var(--fs-7);
    text-transform: uppercase;
    padding: 20px 30px;
    text-align: center;
    border-radius: var(--radius-4);
    box-shadow: var(--shadow-4);
  }
  
  .btn:is(:hover, :focus) { --deg: -90deg; }
  
  .w-100 { width: 100%; }
  
  .text-center { text-align: center; }
  
  .card-text,
  .section-text { line-height: 1.7; }
  
  .img-holder {
    aspect-ratio: var(--width) / var(--height);
    background-color: var(--light-gray);
  }
  
  .img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  
/*-----------------------------------*\
  #HEDER
\*-----------------------------------*/
/* CSS para el header */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-bottom.scroll-down {
  top: 1px; /* Ajusta el valor según sea necesario */
  transition: top 0.3s ease-in-out; /* Añade una transición suave si deseas */
}

.header-top,
.header-bottom .btn {
  display: none;
}

.header-bottom {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  padding: 10px 20px;
  width: 100%;
  z-index: 1000;
  background-color: var(--white);
  box-shadow: var(--shadow-2);
}

.header-bottom.active {
  background-color: var(--white);
  box-shadow: var(--shadow-2);
  animation: slideIn 0.5s var(--cubic-out) forwards;
}

@keyframes slideIn {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

.header-bottom > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.logo {
  margin-left: 70px;
  max-width: 6%;
  height: auto;
  align-content: stretch;
 
}

.nav-toggle-btn {
  color: var(--black);
  font-size: 30px;
  border: 1px solid var(--black);
  padding: 5px;
}

.nav-toggle-btn.active .menu-icon,
.nav-toggle-btn .close-icon {
  display: none;
}

.nav-toggle-btn .menu-icon,
.nav-toggle-btn.active .close-icon {
  display: block;
}

.navbar {
  position: absolute;
  top: calc(100% + 5px);
  left: 50%; /* Ajusta el navbar al centro */
  transform: translateX(-50%); /* Centra el navbar horizontalmente */
  background-color: var(--white);
  padding: 1px 1px; /* Reduce el padding horizontal */
  box-shadow: var(--shadow-1);
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: 0.25s var(--cubic-out);
  max-width: 70%; /* Limita el ancho máximo del navbar */
}

.navbar.active {
  visibility: visible;
  max-height: 244px;
  transition-duration: 0.5s;
}

.navbar-list > li:not(:last-child) {
  border-block-end: 1px solid var(--gainsboro_50);
}

.navbar-link {
  color: var(--jet);
  text-transform: uppercase;
  font-weight: var(--fw-600);
  padding: 10px 15px; /* Reduce el padding de los enlaces */
}


  /*-----------------------------------*\
    #FOOTER
  \*-----------------------------------*/
  
  .footer-top {
    background-color: var(--oxford-blue-2);
    color: var(--light-steel-blue);
  }
  
  .footer-top .container {
    display: grid;
    gap: 30px;
  }
  
  .footer-brand .logo { color: var(--white); }
  
  .footer-text {
    line-height: 1.6;
    margin-block: 15px;
  }
  
  .schedule {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .schedule-icon,
  .footer-item .item-icon {
    background-image: var(--gradient);
    color: var(--white);
    font-size: 18px;
    padding: 11px;
    border-radius: 50%;
  }
  
  .schedule .span,
  .footer-item .item-text { line-height: 1.6; }
  
  .footer-list-title {
    color: var(--white);
    font-family: var(--ff-poppins);
    font-size: var(--fs-4);
    font-weight: var(--fw-700);
    margin-block-end: 10px;
  }
  
  .footer-link {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-block: 10px;
    transition: var(--transition);
  }
  
  .footer-link ion-icon {
    color: var(--royal-blue-light);
    --ionicon-stroke-width: 50px;
  }
  
  .footer-link:is(:hover, :focus) { color: var(--white); }
  
  .footer-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .footer-item:not(:first-child) { margin-block-start: 20px; }
  
  .footer-bottom {
    background-color: var(--oxford-blue-3);
    padding-block: 50px;
    text-align: center;
  }
  
  .copyright {
    color: var(--white);
    line-height: 1.6;
    margin-block-end: 25px;
  }
  
  .footer .social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  
  .footer .social-link {
    padding: 11px;
    background-color: hsla(0, 0%, 100%, 0.2);
    color: var(--white);
    font-size: 18px;
    border-radius: 50%;
  }
  
  .footer .social-link:is(:hover, :focus) { background-image: var(--gradient); }
  
  
  
  
  
  /*-----------------------------------*\
    #BACK TO TOP
  \*-----------------------------------*/
  
  .back-top-btn {
    position: fixed;
    bottom: 10px;
    right: 20px;
    background-color: var(--royal-blue-light);
    font-size: 18px;
    color: var(--white);
    padding: 14px;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
  }
  
  .back-top-btn.active {
    transform: translateY(-10px);
    visibility: visible;
    opacity: 1;
  }
  
  
  /*-----------------------------------*\
    #MEDIA QUERIES
  \*-----------------------------------*/
  
  /**
   * responsive for larger than 575px screen
   */
  
  @media (min-width: 575px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-1: 4.2rem;
  
    }
  
  
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 540px;
      width: 100%;
      margin-inline: auto;
    }
  

  
    /**
     * FOOTER
     */
  
    .footer-top .container { grid-template-columns: 1fr 1fr; }
  
  }
  
  
  
  
  
  /**
   * responsive for larger than 768px screen
   */
  
  @media (min-width: 768px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-2: 4.8rem;
  
    }
  
  
  
    /**
     * RESET
     */
  
    body { font-size: 1.6rem; }
  
  
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 750px; }
  
    .section-subtitle { --fs-6: 2.2rem; }
  
  
  
    /**
     * FOOTER
     */
  
    .footer-bottom { padding-block: 30px; }
  
    .footer-bottom .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .copyright { margin-block-end: 0; }
  
  
  
    /**
     * BACK TO TOP
     */
  
    .back-top-btn {
      bottom: 70px;
      right: 50px;
    }
  
  }
  
  
  
  
  
  /**
   * responsive for larger than 992px screen
   */
  
  @media (min-width: 992px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-2: 6rem;
      --fs-1: 4.6rem;
      --fs-3: 4.6rem;
  
    }
  
  
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 980px; }
  
  
  
    /**
     * HEADER
     */
  
    .header-top {
      display: block;
      background-color: var(--oxford-blue-1);
      color: var(--white);
      padding-block: 20px;
    }
  
    .header-top :is(.container, .social-list),
    .contact-list,
    .contact-item {
      display: flex;
      align-items: center;
    }
  
    .header-top .container { justify-content: space-between; }
  
    .contact-list { gap: 20px; }
  
    .contact-item { gap: 5px; }
  
    .contact-item ion-icon {
      color: var(--royal-blue-light);
      --ionicon-stroke-width: 40px;
    }
  
    .contact-link { font-size: 1.5rem; }
  
    .header-top .social-list { gap: 15px; }
  
    .header-top .social-link {
      font-size: var(--fs-6);
      transition: var(--transition);
    }
  
    .header-top .social-link:is(:hover, :focus) { color: var(--royal-blue-light); }
  
    .header-bottom {
      top: 58px;
      padding-block: 20px;
    }
  
    .header-bottom.active { top: -95px; }
  
    .nav-toggle-btn { display: none; }
  
    .navbar,
    .navbar.active {
      all: unset;
      margin-inline-start: auto;
    }
  
    .navbar-list {
      display: flex;
      align-items: center;
    }
  
    .navbar-list > li:not(:last-child) { border-block-end: none; }
  
    .navbar-link {
      color: var(--oxford-blue-1);
      font-family: var(--ff-poppins);
      text-transform: capitalize;
      transition: var(--transition);
    }
  
    .navbar-link:is(:hover, :focus) { color: var(--royal-blue-light); }
  
    .header-bottom .btn {
      display: block;
      padding: 15px 20px;
    }
  
  
  
  
    /**
     * FOOTER
     */
  
    .footer-top .container { grid-template-columns: 1fr 0.5fr 0.6fr 0.75fr; }
  
  }
  
  
  
  
  
  /**
   * responsive for larger than 1200px screen
   */
  
  @media (min-width: 1200px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-2: 8rem;
      --fs-1: 5.5rem;
      --fs-3: 4.8rem;
  
    }
  
  
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 1180px; }
  
  
  
    /**
     * HEADER
     */
  
    .contact-list { gap: 30px; }
  
    .header-bottom .btn { padding: 18px 30px; }
  
    .header-bottom > .container { gap: 40px; }
  
    .navbar-list { gap: 15px; }
  
  
  
  }



/*PEN STYLES*/

.blog-card {
    display: flex;
    flex-direction: column;
    margin: 18rem auto 12rem; 
    box-shadow: 0 3px 7px 9px rgba(0, 0, 0, .1);
    background: #fff;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
    width: 2500px;
    height:340px;
}
  
  .blog-card:hover .photo {
    transform: scale(1.3) rotate(3deg);
  }
  
  .blog-card .meta {
    position: relative;
    z-index: 0;
    height: 200px;
  }
  
  .blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform .2s;
  }
  
  .blog-card .details,
  .blog-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
  }
  
  .blog-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left .2s;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: .9rem;
  }
  
  .blog-card .details a {
    text-decoration: dotted underline;
  }
  
  .blog-card .details ul li {
    display: inline-block;
  }
  
  .blog-card .details .author:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\f007";
  }
  
  .blog-card .details .date:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\f133";
  }
  
  .blog-card .details .tags ul:before {
    font-family: FontAwesome;
    content: "\f02b";
    margin-right: 10px;
  }
  
  .blog-card .details .tags li {
    margin-right: 2px;
  }
  
  .blog-card .details .tags li:first-child {
    margin-left: -4px;
  }
  
  .blog-card .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
  }
  
  .blog-card .description h1,
  .blog-card .description h2 {
    font-family: Poppins, sans-serif;
  }
  
  .blog-card .description h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
  }
  
  .blog-card .description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-top: 5px;
   

  }
  
  .blog-card .description .read-more {
    text-align: right;
  }
  
  .blog-card .description .read-more a {
    color: #5ad67d;
    display: inline-block;
    position: relative;
  }
  
  .blog-card .description .read-more a:after {
    content: "\f061";
    font-family: FontAwesome;
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    transition: margin .3s, opacity .3s;
  }
  
  .blog-card .description .read-more a:hover:after {
    margin-left: 5px;
    opacity: 1;
  }
  
  .blog-card p {
    text-align: justify;
    position: relative;
    margin: 1rem 0 0;
  
  }
  
  .blog-card p:first-of-type {
    margin-top: 1.25rem;
  }
  
  
  .blog-card:hover .details {
    left: 0%;
  }
  
  @media (min-width: 640px) {
    .blog-card {
      flex-direction: row;
      max-width: 700px;
    }
  
    .blog-card .meta {
      flex-basis: 40%;
      height: auto;
    }
  
    .blog-card .description {
      flex-basis: 60%;
      position: relative;
    }
  
    .blog-card.alt {
      flex-direction: row-reverse;
    }
  
    .blog-card.alt .description:before {
      transform: skewX(-3deg);
      content: "";
      background: #fff;
      width: 30px;
      position: absolute;
      left: -10px;
      top: 0;
      bottom: 0;
      z-index: -1;
    }
  
    .blog-card.alt .description {
      position: relative;
    }
  
    .blog-card.alt .details {
      padding-left: 25px;
    }
  }
  